@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1vqj76');
  src:  url('fonts/icomoon.eot?1vqj76#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1vqj76') format('truetype'),
    url('fonts/icomoon.woff?1vqj76') format('woff'),
    url('fonts/icomoon.svg?1vqj76#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\ea7d";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-youtube:before {
  content: "\ea9d";
}
