<div class="container">
    <div class="containerCards" *ngFor="let drink of nonAlcoholicDrinkList" [routerLink]="['/detailnonalc', drink.id]">
        <div class="item">
            <p>{{drink.id}}</p>
            <h4>{{drink.strDrink}}</h4>
            <img class="roundImg" src="{{drink.strDrinkThumb}}" alt="{{drink.strDrink}}">
        </div>
    </div>
</div>