.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
        width: 100px;
        padding: 10px;
        background-color: black;
        color: white;
        margin: 29px;
        cursor: pointer;
    }
}