<section>
    <div class="container">
        <app-alcoholic-drink [alcoholicDrinkList]="alcoholicDrinkList"></app-alcoholic-drink>
        <button (click)="goBack()">Go Back</button>
    </div>
</section>