<div class="b-footer">
    <ul class="b-footer__ul">
        <a href="https://www.facebook.com/">
            <li class="icon-facebook">
                <p>{{facebook}}</p>
            </li>
        </a>
        <a href="https://www.instagram.com/">
            <li class="icon-instagram">
                <p>{{instagram}}</p>
            </li>
        </a>
        <a href="https://www.whatsapp.com/?lang=es">
            <li class="icon-whatsapp">
                <p>{{whatsapp}}</p>
            </li>
        </a>
        <a href="https://www.youtube.com/">
            <li class="icon-youtube">
                <p>{{youtube}}</p>
            </li>
        </a>
        <a href="https://mail.google.com/mail/u/0/">
            <li class="icon-mail2">
                <p>{{mail}}</p>
            </li>
        </a>
    </ul>
</div>