@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
.b-footer {
    background-color: black;
    padding: 70px 0px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    li {
        p {
            font-family: 'Noto Sans JP', sans-serif;
        }
    }
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: rgb(203, 0, 253);
    text-shadow: 0 0 30px #fff;
}