    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        fieldset {
            background-color: black;
            justify-content: center;
            opacity: 80%;
            padding: 10px;
            margin: 10px;
            label {
                margin: 10px;
            }
        }
    }