<form novalidate [formGroup]="createForm" (ngSubmit)="onSubmit()">

    <!--  ID -->
    <fieldset>
        <label for="id">ID:</label>
        <input type="text" id="id" formControlName="id" />
        <div *ngIf="!createForm.get('id').valid &&
        (createForm.get('id').dirty || submitted)">
            <p class="red">You have mis-typed your id</p>
        </div>
    </fieldset>

    <!--  DRINK NAME -->
    <fieldset>
        <label for="strDrink">Drink Name:</label>
        <input type="text" id="strDrink" formControlName="strDrink" />
        <div *ngIf="!createForm.get('strDrink').valid &&
        (createForm.get('strDrink').dirty || submitted)">
            <p class="red">You have mis-typed your drink name</p>
        </div>
    </fieldset>

    <!--  IMAGE -->
    <fieldset>
        <label for="strDrinkThumb">Drink photo:</label>
        <input type="text" id="strDrinkThumb" formControlName="strDrinkThumb" />
        <div *ngIf="!createForm.get('strDrinkThumb').valid &&
    (createForm.get('strDrinkThumb').dirty || submitted)">
            <p class="red">You have introduced your image incorrectly</p>
        </div>
    </fieldset>

    <!-- Botón deshabilitado hasta que el formulario sea valido -->
    <button class="button" type="submit" [disabled]="!createForm.valid">SEND MY DRINK!</button>
</form>