<div class="container">
    <div class="info">
        <app-info [info]="info"></app-info>
    </div>
    <div class="randomizer">
        <app-randomizer [randomDrink]="randomDrink"></app-randomizer>
    </div>
</div>