.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .info {
        width: 40%;
        justify-content: center;
    }
    .randomizer {
        width: 60%;
        display: flex;
        justify-content: center;
    }
}