        .item_container {
            display: flex;
            margin: 20px;
            background-color: black;
            opacity: 80%;
            .photo {
                width: 40%;
                display: flex;
                flex-direction: column;
                padding: 20px;
                align-items: center;
                img {
                    max-width: 100%;
                }
            }
            .info {
                width: 60%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .roundImg {
                border: 2px solid black;
                border-radius: 20px;
            }
        }