<div class="item_container">
    <div class="photo">
        <img class="roundImg" src="{{detail.strDrinkThumb}}" alt="{{detail.strDrink}} ">
    </div>
    <div class="info">
        <h1>{{detail.strDrink}}</h1>
        <p><strong>Category: </strong>{{detail.strCategory}}</p>
        <p><strong>Type: </strong>{{detail.strAlcoholic}}</p>
        <p><strong>Glass: </strong>{{detail.strGlass}}</p>
        <p><strong>Ingredients: </strong>{{detail.strIngredients}}</p>
        <p><strong>Measures: </strong>{{detail.strMeasures}}</p>
        <p><strong>Instructions: </strong>{{detail.strInstructions}}</p>
        <p><strong>Instructions DE: </strong>{{detail.strInstructionsDE}}</p>
    </div>
</div>