<section>
    <div class="container">
        <app-non-alcoholic-drink [nonAlcoholicDrinkList]="nonAlcoholicDrinkList"></app-non-alcoholic-drink>
        <button (click)="goBack()">Go Back</button>
    </div>
</section>