/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/584/265/small/Black_Background-01.jpg");
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    color: white;
}

strong {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    color: rgb(255, 131, 234);
}

h1 {
    color: rgb(255, 131, 234);
}

button {
    color: #494949 !important;
    text-transform: uppercase;
    background: #000000;
    padding: 10px;
    margin: 10px;
    border-color: #494949 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover {
    color: #d4008e !important;
    border-radius: 50px;
    border: 4px solid #680088 !important;
    transition: all 0.3s ease 0s;
}