.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .containerCards {
        display: flex;
        margin: 15px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            color: white;
            width: 200px;
            cursor: pointer;
            filter: gray;
            /* IE6-9 */
            -webkit-filter: grayscale(1);
            /* Google Chrome, Safari 6+ & Opera 15+ */
            filter: grayscale(1);
            /* Microsoft Edge and Firefox 35+ */
            img {
                max-width: 100%;
            }
        }
        .item:hover {
            width: 200px;
            cursor: pointer;
            -webkit-filter: grayscale(0);
            filter: none;
        }
        .roundImg {
            border: 2px solid black;
            border-radius: 20px;
        }
    }
}