    .info {
        padding: 20px;
        margin: 20px;
        background-color: black;
        opacity: 80%;
        img {
            max-width: 100%;
        }
    }
    
    h1 {
        color: rgb(255, 131, 234);
    }
    
    strong {
        color: rgb(255, 131, 234);
    }
    
    .roundImg {
        border: 2px solid black;
        border-radius: 90px;
    }