<div class="info">
    <div>
        <h1>“</h1>
        <p><strong>Cocktails</strong> {{info.infoText1}}</p>
        <p>{{info.infoText2}}</p>
        <h1>”</h1>
        <p>-Winedharma</p>
    </div>
</div>