.container {
    display: flex;
    flex-direction: row;
    .photo {
        width: 50%;
        margin: 20px;
        img {
            max-width: 100%;
        }
    }
    .info {
        width: 50%;
        background-color: black;
        opacity: 80%;
        padding: 20px;
    }
}