<div class="container">
    <div class="photo">
        <img src="https://d2eip9sf3oo6c2.cloudfront.net/series/square_covers/000/000/215/landscape/EGH_AdvAngularPatts_Final.png" alt="photo">
    </div>
    <div class="info">
        <h1>Bienvenido a la MIXER app!!</h1>
        <p>Mi nombre es Tatiana Moreno y soy su desarrolladora.</p>
        <p>Esta app ha sido desarrollada con Angular y ha sido pensada para facilitar y dar a conocer las recetas de los bartenders a los drinklovers y en general para cualquiera que quiera curosear.</p>
        <p>En la home tienes un randomizer para prepararte una bebida al azar, cada una de las bebidas contiene una descripción con su modo de preparacion clicable por un metodo get y un formulario de post para crear tu bebida personalizada. </p>
        <h3>¡Espero la disfrutes tanto como yo!...</h3>
    </div>
</div>