<header>
    <div class="navbar">
        <div class="logo-container">
            <div class="logo">
                <img src="{{logo}}" alt="{{logoAlt}}">
            </div>
            <div class="name">{{name}}</div>
        </div>
        <div class="navigation">
            <ul>
                <li>
                    <a class="link" role="button" routerLink="/home">Home</a>
                </li>
                <li>
                    <a class="link" role="button " routerLink="/alc">Alcoholic</a>
                </li>
                <li>
                    <a class="link" role="button " routerLink="/nonalc">Non Alcoholic</a>
                </li>
                <li>
                    <a class="link" role="button" routerLink="/create">Create my own drink</a>
                </li>
                <li>
                    <a class="link" role="button" routerLink="/about">About</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" class=" link icon-share " role="button " routerLink="/share "></a>
                </li>
            </ul>
        </div>
    </div>
</header>