    .navbar {
        display: flex;
        flex-wrap: wrap;
        background-color: black;
        color: white;
        align-items: center;
        justify-content: space-between;
        padding-right: 60px;
        .logo-container {
            display: flex;
            .logo {
                width: 200px;
                img {
                    max-width: 100%;
                }
            }
            .name {
                font-size: 3rem;
                font-weight: bolder;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                color: white;
                margin-top: 45px;
            }
        }
        .navigation {
            display: flex;
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                text-decoration: none;
                list-style: none;
                li {
                    display: flex;
                    justify-content: space-evenly;
                    margin: auto 10px;
                }
            }
            a {
                color: white;
                cursor: pointer;
                text-decoration: none;
            }
            a:hover {
                color: rgb(203, 0, 253);
                text-shadow: 0 0 30px #fff;
            }
        }
    }