        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .drink {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: black;
                opacity: 80%;
                padding: 20px;
                margin: 20px;
                img {
                    width: 80%;
                }
            }
            .roundImg {
                border: 2px solid black;
                border-radius: 90px;
            }
        }