<div class="container">
    <div class="drink">
        <h1>{{randomDrink.strDrink}}</h1>
        <img class="roundImg" src="{{randomDrink.strDrinkThumb}}" alt="{{randomDrink.strDrink}}">
        <p><strong>Category:</strong> {{randomDrink.strCategory}}</p>
        <p><strong>Type:</strong> {{randomDrink.strAlcoholic}}</p>
        <p><strong>Glass:</strong> {{randomDrink.strGlass}}</p>
    </div>
</div>